@mixin font-face($font-family, $file-path) {
    @font-face {
        font-family: $font-family;
        font-weight: normal;
        font-style: normal;
        font-display: swap;
        src: url('#{$file-path}.eot');
        src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
        url('#{$file-path}.woff') format('woff'),
        url('#{$file-path}.ttf') format('truetype');
    }
}

@include font-face("RobotoBold", "../fonts/RobotoBold/RobotoBold");