@font-face {
    font-family: "RobotoRegular s";
    src: url("../fonts/RobotoRegular/RobotoRegular.eot");
    src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
        url("../src/fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MyriadPro";
    src: url("../fonts/MyriadPro/MyriadPro-Regular.eot");
    src: url("../fonts/MyriadPro/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/MyriadPro/MyriadPro-Regular.woff") format("woff"),
        url("../fonts/MyriadPro-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

