@import 'fonts.scss';
@import './src/libs/normalize.scss';
@import 'mixsins.scss';
@import '../libs/smart-grid.scss';



/*=============================================
      ОБЩИЕ ПРАВИЛА
  =============================================*/

.clearfix:after {
    @include clearfix ;
}

.wrapper {
    @include wrapper;
}

html {
    font-size: 100%;
}

body {
    margin: 0;
    padding: 25px 0;
    background: #eeeeee;
    font-family: RobotoBold, sans-serif;
    font-size: 66px;
    line-height: 1.375;
    font-weight: 400;
}

p,
ul {
    margin: 0;
    padding: 0;
}

/*=============================================*/


/*=============================================
        ШАПКА
=============================================*/



/*=============================================*/


/*=============================================
        ОСНОВНОЙ КОНТЕНТ
=============================================*/

/*---------------------------------------------
  Секция ...................
---------------------------------------------*/



/*----------------------------------------------*/

/*---------------------------------------------
  Секция ..................
---------------------------------------------*/


/*----------------------------------------------*/

/*=============================================*/


/*=============================================
        ПОДВАЛ
=============================================*/



/*=============================================*/


/*=============================================
        АДАПТИВ
=============================================*/

