
@import 'fonts.scss';
@import 'normalize.scss';
@import 'mixsins.scss';



/*=============================================
      ОБЩИЕ ПРАВИЛА
  ============================================= */

.clearfix:after {
    @include clearfix;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 rem(32px);
}

html {
    font-size: 100%;
}

body {
    margin: 0;
    padding: rem(25px) 0;
    font-size: rem(46px);
    font-weight: 400;
    line-height: 1.375;
    font-family: "RobotoBold";
    background: gray;
}

p,
ul {
    margin: 0;
}

/*============================================= */


/*=============================================
        ШАПКА
============================================= */




/*============================================= */


/*=============================================
        ОСНОВНОЙ КОНТЕНТ
============================================= */

/*---------------------------------------------
  Секция ...................
--------------------------------------------- */



/*----------------------------------------------*/

/*---------------------------------------------
  Секция ..................
--------------------------------------------- */


/*----------------------------------------------*/
/*============================================= */


/*=============================================
        ПОДВАЛ
============================================= */



/*============================================= */


/*=============================================
        АДАПТИВ
============================================= */

@import '_media.scss';

/*============================================= */