
@import 'fonts.scss';
@import 'normalize.scss';
@import 'mixsins.scss';
@import 'smart-grid.scss';



/*=============================================
      ОБЩИЕ ПРАВИЛА
  ============================================= */

.clearfix:after {
    @include clearfix;
}

.wrapper{
    @include wrapper;
}

html {
    font-size: 100%;
}

body {
    margin: 0;
    padding: 25px 0;
    font-size: 46px;
    font-weight: 400;
    line-height: 1.375;
    font-family: "RobotoBold";
    background: gray;
}

p,
ul {
    margin: 0;
    padding: 0;
}

/*============================================= */


/*=============================================
        ШАПКА
============================================= */




/*============================================= */


/*=============================================
        ОСНОВНОЙ КОНТЕНТ
============================================= */

/*---------------------------------------------
  Секция ...................
--------------------------------------------- */



/*----------------------------------------------*/

/*---------------------------------------------
  Секция ..................
--------------------------------------------- */


/*----------------------------------------------*/
/*============================================= */


/*=============================================
        ПОДВАЛ
============================================= */



/*============================================= */


/*=============================================
        АДАПТИВ
============================================= */

@import '_media.scss';

/*============================================= */